#card{
    margin-top: 15px;
    background-color:white;
    padding: 5px;
    
}

.card_rate{
    height: 200px;
}

#card_body{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
}

.card_body_items{
    text-align: center;
    width: 200px;
}

#card_body_lastUpdateDate{
    text-align: center;
    margin-top: 15px;
}

#card_body_rate{
    text-align: center;
}
